/* Colors
	#f7e296 - цвет фона
	#f0c52e - цвет кнопок при наведении
	#464646 - цвет в футере
	#7e7e7e - цвет иконок в футере
*/

/* Fonts */

@font-face {
	font-family: "Gilroy";
	font-weight: 800;	
	src: 
		local("Gilroy"),
		url("fonts/gilroyextrabold.woff2") format("woff2"),
		url("fonts/gilroyextrabold.woff") format("woff"),
		url("fonts/gilroyextrabold.ttf") format("ttf");
}

@font-face {
	font-family: "Gilroy";
	font-weight: 300;
	src:
		local("Gilroy"),
		url("fonts/gilroylight.woff2") format("woff2"),
		url("fonts/gilroylight.woff") format("woff"),
		url("fonts/gilroylight.ttf") format("ttf"); 
}

/* Main style */

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Open Sans", "Tahoma", sans-serif;
	font-weight: 300;
	font-size: 15px;

	background-color: #fff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	color: #000;

	background-color: #fff;
	border: none;
}

.button-close {
	color: #fff;

	background-color: #f7e296;
	border: none;
	border-radius: 50%;
}

.main-header-2 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
}

.container {
	width: 1160px;
	height: auto;
	margin: 0 auto;
}

/* index.html */

.main-header {
	margin-top: 20px;
	padding-right: 60px;
	padding-left: 60px;

	background: linear-gradient(#fff 18px, #f7e296 18px);
}

.main-header a {
	color: #000;
}

.main-header a:hover {
	color: #484337;
}

.main-header a:active {
	color: #b8a974;
}

.main-header-user {
	margin-top: 30px;
}

.list-user {
	display: flex;
	flex-flow: wrap row;
	align-items: center;
	margin: 0;
	padding: 0;

	list-style: none;
}

.list-user-link {
	position: relative;

	display: inline-block;

	vertical-align: middle;
}

.user-link::before {
	content: "";

	position: absolute;
	left: 0; top: 1px;

	width: 15px;
	height: 15px;


	background: url('../img/user.svg');
	background-position: center center;
	background-repeat: no-repeat;
}

.list-user-item { 
	position: relative;	
}

.list-user-item:nth-child(1) {
	min-width: 250px;	
}

.list-user-item:nth-child(2) {
	margin-left: 290px;
}

.list-user-item:nth-child(2) .list-user-link:nth-child(1) { 
	padding-left: 30px;	
}

.list-user-item:nth-child(2) .list-user-link:nth-child(1n+2) { 
	padding-left: 20px;	
}

.list-user-item:nth-child(3) {
	margin-left: auto;
}

.list-user-item:nth-child(3) .list-user-link:nth-child(1n) {
	margin-left: 40px;
	padding-left: 20px;
}

.compare-link::before {
	content: "";

	position: absolute;
	left: 0; top: 4px;

	width: 15px;
	height: 15px;

	background: url("../img/compare.svg");
	background-repeat: no-repeat;
}

.cart-link::before {
	content: "";

	position: absolute;
	left: 0; top: 3px;

	width: 15px;
	height: 15px;

	background: url("../img/cart.svg");
	background-repeat: no-repeat;
}

.form-list-user {
	position: relative;
}

.form-list-user::before {
	content: "";
	
	position: absolute;

	width: 20px;
	height: 20px;	

	background: url("../img/search.svg");
	background-repeat: no-repeat;
}

.form-list-user input {
	position: relative;

	margin-left: 35px;

	background-color: #f7e296;
	border: none;
}


.exit-user {
	color: #ac9e69;
}

.main-navigation {
	margin-top: 50px;
	padding-bottom: 55px;
}

.list-navigation {
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-navigation-item {
	position: relative;
}

.list-navigation a {
	position: relative;

	display: inline-block;

	vertical-align: middle;
}

.list-navigation-item:nth-child(1) {
	min-width: 250px;
}

.list-navigation-item:nth-child(2) {
	margin-left: 290px;
}

.list-navigation-item:nth-child(3) {
	margin-left: auto;
}

.link-navigation-bold {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.item-catalog::after {
	content: "";

	position: absolute;
	right: 0px; top: 2px;

	width: 20px;
	height: 20px;

	background: url("../img/plus.svg");
	background-repeat: no-repeat;
}

.item-info-product a:nth-child(1n+2) {
	padding-left: 35px;
}

.list-navigation-catalog {
	display: none;
	margin: 0;
	padding: 0;
}

.list-navigation-catalog a {
	font-family: "Open Sans", "Tahoma", sans-serif;
	font-weight: 300;
	font-size: 14px;
}

.wrapper-slider {
	background-image: url('img/top-slider-img.png');
	background-position: center top;
	background-repeat: no-repeat;
}

.list-slide li {
	font-size: 13px;
}

.list-slide span {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
	font-size: 36px;
}

.list-service {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-service button:hover {
	color: #f0c52e;

	background-color: #000;
}

.list-partner {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-popular { 
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-popular span {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	color: #000;
}

.list-popular li {
	background-color: #f7e296;
}

.list-popular li:hover {
	background-color: #f0c52e;
}

.main-footer {
	color: #d3d3d3;

	background-color: #464646;
}

.main-footer a {
	color: #c8c8c8;
}

.list-user-footer {
	padding: 0;
	margin: 0;
	list-style: none;
}

.list-user-footer a {
	font-size: 14px;
}

.main-navigation-footer address {
	color: #c8c8c8;
	font-style: normal;
}

.list-social-footer {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu-footer-user a:hover {
	color: #fff;
}

.menu-footer-user a:active {
	color: #7e7e7e;
}

.list-navigation-footer {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-navigation-footer a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
}

.list-navigation-footer a:hover {
	color: #b5b5b5;
}

.list-navigation-footer a:active {
	color: #7e7e7e;
}

.support-popup,
.map-popup {
	display: none;
}


/* catalog.html */

.main-header-catalog a {
	font-size: 16px;
	color: #b2b2b2;
}

.main-header-catalog a:hover {
	color: #a3a3a3;
}

.main-header-catalog a:active {
	color: #e5e5e5;
}

.main-header-catalog h1 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
}

.list-bread {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header-sort,
.header-filter {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	text-transform: uppercase;
}

.main-sort a {
	font-size: 14px;
	color: #b2b2b2;
}

.main-sort a:hover {
	color: #666666;
} 

.main-sort a:active {
	color: #222222;
}	

.list-sort {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-filter h3 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
}

.main-filter label {
	font-size: 14px;
}

.list-filter {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-catalog a {
	color: #000;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
}

.list-catalog { 
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-catalog span {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
	font-size: 16px;
}

.main-pagination {
	background-color: #ebebeb;
}

.list-pagination {
	margin: 0;
	padding: 0;
	list-style: none;
}
 
.main-pagination a { 
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	color: #000;
	text-transform: uppercase;
}

.button-paginate:hover {
	background-color: #d9d9d9;
}

.button-paginate:active a {
	color: #979797;
}


